.container {
  height: 100vh;
  background-image: url(../../../assets/bg.jpg);
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}
.box {
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: white;
  // margin-top: %;
  padding: 25px;
}
.btn-success {
  background-color: rgb(22 118 108);
  color: white;
}
.material-icons-outlined {
  font-size: 60px;
}
