<div class="container" fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="card">
    <div class="card-head" fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="100" fxLayoutAlign="center center">
        <span fxFlex="100" class="card-title2" fxLayoutAlign="center center">
          CLINIC
        </span>
      </div>
      <!-- <div fxFlex="100" fxLayoutAlign="center center">
        <span fxFlex="100" class="card-title2" fxLayoutAlign="center center">
          SYSTEM
        </span>
      </div> -->
    </div>

    <form
      [formGroup]="loginForm"
      (submit)="onLogin()"
      class="card-body"
      fxLayout="row wrap"
      fxLayoutAlign="center center"
    >
      <mat-form-field fxFlex="100" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="" formControlName="username" />
      </mat-form-field>
      <mat-form-field fxFlex="100" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder=""
          formControlName="password"
        />
      </mat-form-field>

      <div class="card-footer" fxLayoutAlign="center center">
        <button
          type="submit"
          mat-raised-button
          fxFlex="100"
          style="margin-top: 10px"
        >
          LOGIN <span class="material-icons-outlined"> lock_open </span>
        </button>
      </div>
    </form>
  </div>
</div>

<!-- <div fxLayout="row wrap" fxLayoutAlign="center stretch" class="container">
  <div fxFlex="30" fxLayout="column wrap" fxLayoutAlign="center stretch">
    <div
      fxFlex="40"
      class="box"
      fxLayout="row wrap"
      fxLayoutAlign="center stretch"
    >
      <form
        [formGroup]="loginForm"
        fxFlex="100"
        fxLayout="row wrap"
        fxLayoutAlign="space-around stretch"
        (submit)="onLogin()"
      >
        <div fxFlex="100" style="text-align: center">
          <span class="material-icons-outlined"> people_alt </span>
        </div>
        <mat-form-field fxFlex="80" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>
        <mat-form-field fxFlex="80" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" />
        </mat-form-field>
        <button mat-raised-button class="btn-success" fxFlex="25" type="submit">
          <mat-icon class="mat-18">login</mat-icon>
          LOGIN
        </button>
      </form>
    </div>
  </div>
</div> -->
