<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  *ngIf="loginStatus"
>
  <span>
    <span class="title-head">
      {{title |uppercase}}
    </span>
    <ng-container *ngFor="let item of routerItems; let i=index">
      <button mat-button routerLink="{{item.path}}" >
        <mat-icon class="mat-20" style="margin-right: 5px;">
          {{item.icon}}
        </mat-icon>
          <span >
            {{item.title |uppercase }}
          </span>
      </button>
    </ng-container>
    
  </span>
  

  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button *ngIf="loginStatus" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>


  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-menu-item routerLink="/game">
    <mat-icon>gamepad</mat-icon>
    Play
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>
<router-outlet></router-outlet>
