<div fxLayout="row wrap" fxLayoutAlign="center stretch">
  <div fxFlex="80" fxLayout="row wrap" fxLayoutAlign="start stretch">
    <app-table-select fxFlex="100" (selectChange)="emit($event)"></app-table-select>
    <p>
      {{queueForm.value|json}}
    </p>
    <!-- <app-user-form fxFlex="100" *ngIf="queueForm.value.customerId" [id]="queueForm.value.userId"></app-user-form> -->
    <app-input-queue fxFlex="100" (dataChange)="emitQueue($event)" ></app-input-queue>
    <button fxFlex="100" mat-raised-button color="primary" (click)="send()">Send</button>
  </div>
</div>
