/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content{
    margin-top: 50px !important;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}